/*-----------------------------------------------------CSS COMUNI---------------------------------------*/
/*--------------------------------Tasti--------------------*/
.btn-fullBlue {
    border: 1px solid midnightblue;
    color: white;
    background: midnightblue;
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}


.btn-fullBlue:hover {
    background: #0080c0;
    color: white;
    text-decoration: none;
} 

.btn-orange {
    border: 1px solid orange;
    color: white;
    background: orange;
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
.btn-orange:hover {
    background: #ffb812;
    color: white;
    text-decoration: none;
} 
.btn-green {
    border: 1px solid green;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 10px;

    width: fit-content;
    align-self: center;
}
.btn-green:hover {
    background: limegreen;
    color: white;
    border: 1px solid darkgreen;
    text-decoration: none;
} 
.btn-blue {
    border: 1px solid #0080c0;
    background: #0080c0;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
table .btn-blue {
    width: 100%!important;
}
.btn-blue:hover {
    border: 1px solid blue;
    background: blue;
    color: white;
    text-decoration: none;
} 
.btn-minGreen {
    border: 1px solid greenyellow;
    background: green;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
table .btn-minGreen {
    width: 100%!important;
}
.btn-minGreen:hover {
    border: 1px solid green;
    background: seagreen;
    color: white;
    text-decoration: none;

} 

.btn-red {
    border: 1px solid red;
    background: red;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
table .btn-red {
    width: 100%!important;
}
.btn-red:hover {
    border: 1px solid red;
    background: crimson;
    color: white;
    text-decoration: none;

} 
nav{
    padding-top: 10px!important;
    padding-bottom: 0px!important;
    margin-bottom: 40px;
    background-color: rgb(240,240,240);
}



.navbar-toggler{
    margin-bottom: 10px;
}
@media only screen and (min-width: 1200px){ 
    li{
        border-right: 1px solid rgba(184,195,255);
        border-bottom: 1px solid rgba(184,195,255);
        margin-left: 20px;
        font-size: 15px;  
        height: 60px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1200px){ 
    li{
        border-bottom: 1px solid rgba(184,195,255);
        width: 35%;
        margin: auto;
    }
}

li.user{
    border: 0px!important;

}

.attivo{
    background-color: rgba(184,195,255,0.67);

}
@media only screen and (min-width: 1200px){ 
    .attivo{
        background-color: rgba(184,195,255,0.67);
        border-right: 1px solid rgb(48,83,255);
        border-bottom: 1px solid rgb(48,83,255);
    }
}

/*--------------------------------Tabella--------------------*/
table{
    width: auto;
    margin: auto;
    margin-bottom: 50px;
}
@media only screen and (max-width: 700px){ 
    table{
        margin-left: 10px;
        margin-right: 10px;
    } 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {    
    padding: 10px;
}
td p{
    margin-bottom: 0px; 
}

.contTabella{
    max-width: 95%;
    margin: auto;
    overflow-x: auto;
    margin-bottom: 50px;
}

table input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

table.noborder th,
table.noborder td,
table.noborder {
    border: 0px;
}
.selecRisolutori{
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}
/*--------------------------------Scrollbar--------------------*/

/* !important is needed sometimes */
::-webkit-scrollbar {
    width: 12px !important;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important; 
}
/*--------------------------------ModalPopupFoto--------------------*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: auto; /* Full width */
    height: auto; /* Full height */
    max-height: 100%;
    max-width: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto!important; /* Full width */
    height: 100%!important; /* Full height */
    max-width: 90%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {from {transform:scale(0)} to {transform:scale(1)}}
/* The Close Button */
.close {
    position: absolute;
    top: -15px;
    right: 5px;
    color:  white!important;
    font-size: 5rem!important;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color:  white!important;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){ 
    .modal-content {
        width: auto!important;
        height: auto!important;
        max-height: 100%; 
        max-width: 80%;
    }
}

/*--------------------------------PopupText--------------------*/
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
}
@media only screen and (max-width: 700px){
    .popup .popuptext {
        width: 90%; 
    }
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;

}

/*--------------------------------VARIE--------------------*/
body {
    background-image:url("../img/bg-row-one.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;      
}

.risolutor{
    background-image:url("../img/backgroundRis.jpg")!important;

}
.corpo{
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 70px;
    margin-right: 70px;
    min-height: 83vh;
    height: fit-content;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;   
}
/*.risolutor .corpo {
    background-color: rgba(255, 255, 255, 0.97);
}*/
@media only screen and (max-width: 700px){
    .corpo{
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 5px;
        margin-right: 5px;
    }
    /*    .risolutor .corpo {
            background-color: rgba(255, 255, 255, 0.97);
        }*/
}
.mappa{
    width:80%;
    height:300px;
    display:flex;
    margin:auto;
    margin-bottom: 30px;
}
.mioFooter{
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    max-width: 100%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards; 
    background-image:url('../img/backFooter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;

}
@media only screen and (max-width: 700px){
    .mioFooter{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.gifLoad{
    margin: auto; 
    margin-top: 10px; 
    display:none
}

.chart {
    margin: auto;
    min-width: 200px!important;
    min-height: 400px!important;
    max-width: 700px!important;
}
/*--------------------------------Animazioni--------------------*/
@-webkit-keyframes fadeIn {
    from{top: -50px;}
    to{top: 0px;}
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    from{top: -50px;}
    to{top: 0px;}
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/*--------------------------------Tab--------------------*/
.contenitoreTab{
    display:flex; 
    flex-direction: column; 
    align-items: center;   
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 600px){
    .contenitoreTab{
        width: 90%;
    }
}
.tablinks{
    border: 1px solid #ddd!important;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    justify-content: center;    
    display: flex;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;  
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}
@media only screen and (max-width: 700px){
    .tabcontent{
        margin: 10px 50px 0px 50px;
    }
}

.tabcontent label{
    align-self: flex-end;
    margin-top: 20px;
}
@media only screen and (max-width: 700px){
    .tabcontent label{
        display: flex;
        flex-direction: column;
    }
}
.tabcontent input{
    margin-bottom: 10px;
}
.tabcontent select{
    width: 177px;
    margin-bottom: 10px;
}

.tabcontentRicerca {
    margin: 20px;
}
.tabcontentRicerca label{
    margin: 10px;
}
.tabcontentRicerca button{
    margin: 20px;
}

/*--------------------------------Slider--------------------*/
/* Slideshow container */

.mySlides {
    display: none;    
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 70%; 
    height: 200px;
    display: flex;
    justify-content: center;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/*-----------------------------AUTOCOMPETE--------------------------------*/


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;

}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/*-----------------------------INDEX--------------------------------*/

body.index {
    background-image:url("../img/bg-row-one.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;      
}

body.index div.acc {
    align-self:flex-end;
}

body.index > div {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (max-width: 700px){
    body.index > div {
        height: 100%;
    }
}

body.index .row, body.index .row div {
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;

}

body.index .prima {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    display: flex;
    flex-direction: column;
    height: 300px;
}


body.index .row.prima h1 {
    color: midnightblue;
    text-shadow: 2px 2px 2px black
}
@media only screen and (min-width: 777px){
    body.index .row.seconda{
        margin-top: -100px;
    }
    body.index .prima {
        margin-top: -60px;
    }
}
body.index .row.seconda div:first-child {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    flex-direction: column;
}
@media only screen and (max-width: 700px){
    body.index .col-md-6 {
        margin-top: 20px;
    }
    body.index div.acc {
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
.icona{
    border-radius: 50%;
    border: 5px solid midnightblue;
    background-color: #ccc;


}

.icona:hover{

    border-radius: 50%;
    background-color: #565657
}

body.index .row.seconda div:first-child a {
    text-align: center;

}

body.index .row.seconda div:last-child {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: backwards;
    flex-direction: column;
}

body.index .row.seconda div:last-child a {
    text-align: center;

}

body.index .row.terza:h1{
    align:center;

}

/*-----------------------Cosè CivicSense-----------------------------------*/
body.cose .row{
    width: 100%;
}
body.cose .row {
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    padding-right:10px;
    padding-left: 40px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px){
    body.cose .row{
        margin-left:0px;
        padding-left: 15px;
    }
}
body.cose .row .col-sm-6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;  
    animation-name: fadeIn;
    animation-duration: 1s;


}
body.cose .row.prima .col-sm-6:first-child {
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

body.cose .row.prima .col-sm-6:last-child {
    animation-delay: 0.6s;
    animation-fill-mode: backwards;

    text-align: justify;

}
body.cose .row.seconda .col-sm-6:first-child {
    animation-delay: 1s;
    animation-fill-mode: backwards;
    text-align: justify;    
}

body.cose .row.seconda .col-sm-6:last-child {
    animation-delay: 1.4s;
    animation-fill-mode: backwards;
    display: flex;
    justify-content: center;
}
body.cose .row.seconda .col-sm-6:last-child img{
    border-radius: 20%;
    max-width: 80%;
    height: auto;
}

body.cose .row.terza{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1.9s;
    animation-fill-mode: backwards;
    display: flex;
    justify-content: center;
}
body.cose .row.terza .col-sm-3{
    max-width: fit-content;
}
body.cose .row.terza .col-sm-3 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*-----------------ACCESSO-----------------*/

body.accesso div#recupera.tabcontent label{
    align-self: center;
}
body.accesso label.ricordami{
    align-self: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*------------------SEGNALA------------------*/

body.segnala div.corpo {
    text-align: center
}
body.segnala .tastiPos{
    display: flex;
    justify-content: center;
}
body.segnala .tastiPos button{
    margin: 10px;
}
body.segnala div.corpo form.form input{
    width: 250px;
}
body.segnala div.corpo form{
    margin-top: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
body.segnala div.corpo  form label{
    align-self: flex-end;

    margin-bottom: 20px;


}

body.segnala div.corpo div#loadGPS{
    align-content: center;  
    margin-bottom: 20px;
    flex-direction: column;   
}
body.segnala div.corpo table#tabella{
    margin: auto;
    margin-bottom: 20px;
}

body.segnala div.corpo div.sezMedia{
    border:1px solid grey; 
    display: flex; 
    flex-direction: column; 
    padding-bottom: 10px; 
    width: fit-content;
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px;
}
 body.segnala label.labRadio{
        display: block;
        margin: auto;
    }
@media only screen and (max-width: 777px){
    body.segnala div.corpo div.sezMedia{
        max-width: 80%;
    }


     body.segnala label select{
        max-width: 80%;
    }
}

body.segnala div.corpo div#formSegnalazione{
    margin-bottom: 40px;

}


/*------------------RICERCA------------------*/
body.ricerca #segnalazione{
    text-align: left; 

}
.stella{
    width: fit-content;
    margin: auto; 
    margin-bottom: 10px;
}
body.ricerca table#tabellaSegn{
    max-width: 90%;
    margin: auto;
}

body.ricerca .destra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body.ricerca .destra button{
    margin-bottom: 10px;
}

body.ricerca #singolaMappaDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

body.ricerca .contenitoreFoto{
    width: 90%;
    margin: auto;
    border: 2px solid black; 
    padding: 10px;
}

body.ricerca .contVideo{
    text-align: center;
    margin:10px;
}
body.ricerca .divCommenti{
    margin-top: 40px;
}

body.ricerca .commenti{
    width: 90%;
    margin: auto;
    border: 1px solid black; 
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

body.ricerca .aggCommento{
    display: flex;
    flex-direction: column;
}

body.ricerca .aggC{
    width: 90%;
    margin: auto;
}

body.ricerca .aggC textarea{
    width: 100%;
    margin-bottom: 20px;
}

body.ricerca .legenda{
    display:flex;
    justify-content: center;
}

/*------------------STATISTICHE------------------*/
body.statistiche .contenitoreTab, body.vediGruppi .contenitoreTab{
    width: 90%;
}
body.statistiche .tab button{
    padding: 15px 5px;
}
@media only screen and (max-width: 700px){
    body.statistiche .tab{
        font-size: 13px;
    }
}